@import '../../assets/styleSystem/colors.css';
@import '../../assets/styleSystem/fonts.css';


.modal {
    position : absolute;
    text-align: center;
    height :80vh;
    width : 90vw;
    top : 12.5vh;
    left : 2.5vw;
    z-index : 6;
    background-color :rgb(150, 12, 168) ;
    border-radius: 0.5rem;
    animation : 0.5s ease-in appear;
}

@keyframes appear {
  from { opacity : 0 }
  to   { opacity : 1 }
}

.label{
    color : green;
}

.form{
    display : flex;
    flex-direction: column;
}

.subGroup{
    display : flex;
    flex-direction: row;

}

.subTitle{
    font: var(--field);
}

.largeField{
    margin : 0.5rem;
}

.field{
    border : 1px solid black;
    width : 140px;
    margin : 0.5rem;
}

.field label {
    font : var(--labelField);
}

.attribution{
    display : flex;
    flex-direction: column;

}

.attribution>* {
    text-align: left;

}
.button{align-self: center;
    width : 30vw;
}