@import '../../assets/styleSystem/colors.css';
@import '../../assets/styleSystem/fonts.css';

.fc-header-toolbar .fc-toolbar .fc-toolbar-ltr {
    display: flex;
    flex-direction : column;

}

.fc .fc-button-primary{
    background-color :var(--blueCoopalim) !important;
    max-height : 12px;
    font-size: auto !important;
}


