@import '../../assets/styleSystem/colors.css';
@import '../../assets/styleSystem/fonts.css';


.wrapper{
    position : absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width : 100vw;
    z-index: 10;
}

.modal {
    position : relative;
    top : 0.3rem;
    background-color : var(--primary) ;
    border-radius: 0.4rem 1.2rem 0.4rem;
    animation : 3s appear forwards;
    line-height: 100%;
}

@keyframes appear {
  0%    {      
            opacity : 0;
            transform : translateY(-3rem);
        }
  25%   {      
            opacity : 0.9;
            transform : translateY(0);
        }
  75%   {      
            opacity : 0.9;
            transform : translateY(0);
        }
  to   {      
            opacity : 0.9;
            transform : translateY(-3rem);
        }
}

.label{
    color : var(--text);
    padding : 0.7rem 2.5rem;
    margin : 0;
}
