@import '../../../assets/styleSystem/colors.css';
@import '../../../assets/styleSystem/fonts.css';



.input {
    height : auto;
    width :  calc(100% - 1rem);
    padding-top:  20px;
    margin : 0.5rem;
  }

.label {
    position : absolute;
    left : 1.3rem;
    top : 0.8rem;
    pointer-events: none;
    z-index: 1;
    font : var(--label)
};