@import '../../assets/styleSystem/colors.css';
@import '../../assets/styleSystem/fonts.css';

.wrapper {
    display : flex;
    flex-direction: column;
    align-items : center;
    justify-content: center;
    height : 85vh;
    width : 375px;
}

.title {
    font : var(--title);
    color : var(--blueCoopalim);
    height : 10%;
    text-align: center;
    width : inherit;
}

.core{
    color : var(--text) ;
    height : 100%;
    width : inherit;
}