@import '../../assets/styleSystem/colors.css';
@import '../../assets/styleSystem/fonts.css';

.section {
    display : flex;
    flex-direction: column;
    align-items : center;
    height : 85vh;
    width : 80vw;
}


.core{
    color : var(--text) ;
    height : 100%;
    width : inherit;
}
