.wrapper{
    background-color: var(--onBackground);
    border-radius: 1rem;
    width : 100%;
    margin : 0.5rem 0;
    display: grid;
    grid-template-columns: 0.2fr 1fr 0.7fr 1fr 1fr 0.5fr 0.7fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-columns: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "pseudo pseudo name name Rule Rule Edit"
    "Attributions Attributions Attributions IsAutonomous IsAutonomous IsAutonomous Delete";
}
.wrapper > div{
    padding : 0;
    margin : 0;
    display : flex;
    justify-content: center;
    align-items: center;
    font-style : var(--information);
    min-height : 50px;
}

.wrapper .pseudo {
    justify-content: flex-start;
    margin-left : 1rem;
}

.wrapper .rule {
    justify-content: flex-end;
    margin-right : 0.5rem;
}

.pseudo {
    grid-area: pseudo;
    font : var(--text);
    font-size : 1.2rem;
    font-weight: bold;
}

.name {
    grid-area: name;
    font : var(--information);
    text-align : center;
}

.rule {
    grid-area: Rule;
    font : var(--information)    
}

.attributions {
    grid-area: Attributions;
    display : flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

.isAutonomous {
    grid-area: IsAutonomous;
}

.isAutonomous > div{
    display : flex;
    align-items: center;
}



.edit {
    grid-area: Edit;
    border-bottom: 1px solid var(--colorText);
    border-left: 1px solid var(--colorText);
    border-top-right-radius: 1rem;
}

.delete {
    grid-area: Delete;
    border-left: 1px solid var(--colorText);
    border-bottom-right-radius: 1rem;
}

.box{

    width : 12px;
    height: 12px;
}

.button:hover{
    filter: brightness(1.2);
    background-color: var(--background)
}

.buttonWarning{
    background-color: var(--redCoopalim)
}

.buttonWarning:hover{
    filter: brightness(1.1)
}