:root{
    --heightMenu : 8vh;
}

header {
    position : fixed;
    height : var(--heightMenu);
    width: 100vw;
    z-index: 2;
}

main {
    position : relative;
    display : flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - var(--heightMenu));
    width: 100vw;
    padding-top : var(--heightMenu);
    box-sizing: content-box;
    overflow: hidden;
    z-index: 0;
}
